body{
    background-color: lightgray;
  }
  i{
    color:rgba(0, 47, 255, 0.904);
  }
  p{
    font-size: 12px;
  }
  .insidebox{
    background-color: whitesmoke;
    margin: 45px 5px;
    padding: 30px 10px;
  }
  a{
    border-bottom: 1px solid blue;
  }
  .text{
    margin: 10px 0px;
  }
  .box{
    margin: 10px 0px;
    padding: 60px 0px;
  }